:root {
  --baseline-font-size: 16px;

  /* type scale */
  --font-size-0: 12px;
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 20px;
  --font-size-4: 24px;
  --font-size-5: 32px;
  --font-size-6: 48px;
  --font-size-7: 64px;

  /* font-weights */
  --font-weight-regular: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 600;

  /* font stacks */
  --system-serif: georgia, serif;
  --system-monospace: 'Lucida Console', 'Lucida Sans Typewriter', monaco,
    'Bitstream Vera Sans Mono', monospace;
  --font-family-serif: 'ff-tisa-web-pro', var(--system-serif);
  --font-family-monospace: 'orator-std', var(--system-monospace);
}
