footer(class="site-footer", role="contentinfo")
    .footer-inner
        .course-details
            span With love,&nbsp;
                a(href="http://digitalartandtecnology.co.uk") BA / BSc (Hons) Digital Art & Technology.
            span &nbsp;x

