footer(class="site-footer", role="contentinfo")
    p(class="footer-inner")
        span(class="copyright", role="") Copyright &#169; #{year}
        a(href="http://digitalartandtechnology.co.uk", class="course-details", title="Find out more about digital art and technology") Course details