header(class="site-header")
    .header-inner
        h1(class="banner", role="banner")
            a(href="/", title="") Digital Art &amp; Technology Graduate Showcase 2013
        h2(class="description") With a 20 year history, BA/BSc (Hons) Digital Art and Technology at Plymouth University is one of the UK’s best and most established interactive media degrees.