header(class="site-header #{view}")
    .header-inner
        nav(class="nav", role="navigation")
            ul
                li
                    a(href="/students", title="Check out the graduates") Students
                    | |
                    a(href="/", title="Back to the home page") Projects
                    | |
                    a(href="/event", title="See photos and video from the opening night") Event
        h1(class="banner", role="banner")
            a(href="/", title="")
                span(class="dat") DAT’13
                | Graduate Showcase
        if view == "page-projects"
            h2(class="description")
                | Digital Art &amp; Technology is a tough course to sum-up — it unveils a smörgåsbord of fresh-faced creative folk every year; each of whom is equipped with a different — often unique — set of skills. We're interaction designers, game developers, creative technologists, and yet so much more. Take a look around; we hope you'll be impressed and are sure you'll be surprised.
