header(class="site-header")
    .header-inner
        nav(class="nav", role="navigation")
            ul
                li
                    a(href="/students", title="Check out the graduates") Students
                    a(href="/", title="Back to the home page") Projects
        h1(class="banner", role="banner")
            a(href="/", title="")
                span(class="dat") DAT’13
                | Graduate Showcase
        h2(class="description")
            | Digital Art &amp; Technology is a tough course to sum-up — it unveils a smörgåsbord of new, fresh-faced creative folk every year. Each graduate has a different — often unique — set of skills on offer. This year we've got interaction designers, game developers, and creative technologists on show, to label just a few. Take a look around and have a look at what they’ve cooked up; we hope you'll be impressed and are sure you'll be surprised.