# Superfluousness at its finest
.DS_Store

# Ignore node_modules required by grunt and alike
node_modules/

# We don't need the bower installed components
components/

# SASS cache
.sass-cache/

# Config data (API keys etc.)
config.js