extends layout

block content
    main(class="main", id="main", role="main")
        h2= title
        p Welcome to #{title}

        .projects
            .project
                .project-image
                    img(src="http://placekitten.com/500/500")
                h2.project-title Project Title
            .project
                .project-image
                    img(src="http://placekitten.com/500/500")
                h2.project-title Project Title
            .project
                .project-image
                    img(src="http://placekitten.com/500/500")
                h2.project-title Project Title
            .project
                .project-image
                    img(src="http://placekitten.com/500/500")
                h2.project-title Project Title
