doctype 5
html(lang="en", class="no-js")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
        title #{title} | Digital Art &amp; Technology Graduate Showcase '13
        meta(name="description", content="Digital Art & Technology 2013 Graduate Showcase.")
        link(rel="shortcut icon", href="/img/favicon.ico")
        link(rel="stylesheet", href="/css/main.css")
        script(src="//use.typekit.net/eod3fja.js")
        script.
            try { Typekit.load(); } catch (e) {}
        // Replace with production version
        script(src="/js/utilities/modernizr.min.js")
    body
        include includes/header
        block content
        include includes/footer
        script.
            var config = {
                debug: #{debugMode}
            };
        if debugMode
            script(src="/js/components/requirejs/require.js", data-main="/js/main.js")
        else
            script(src="/js/main.min.js")