extends layout

block content
    main(class="main", id="main", role="main")
        //h2= title

        // entries object contains multiple { student: {}, project: {} } objects

        section.projects
            each entry in entries
                article.project
                    .project-image
                        a(href="projects/#{entry.project.slug}")
                            img(src="/img/msgbox.png")
                            img.sequence(src="/img/test-sequence.jpg", height="290", width="2900")
                    .project-details
                        h3.project-title #{entry.project.title}
                        p.student #{entry.student.name}
                        //p.description #{entry.project.description}

