extends layout

block content
    main(class="main", id="main", role="main")
        .outer-sequence
            .sequence
        h2= title
        p Welcome to #{title}
        p Entries: #{entries}
        p Entry: #{entry}