extends layout

block content
    main(class="main", id="main", role="main")
        .outer-sequence
            img(src="/img/test-sequence.jpg", class="sequence", width="2900", height="290", alt="Test")
        h2= title
        p Welcome to #{title}
        p Entries: #{entries}
        p Entry: #{entry}