extends layout

block content
    main(class="main", id="main", role="main")
        section.students
            each entry in entries
                article.student
                    .student-image
                        a(href="projects/#{entry.project.slug}")
                            img(src="/img/james-king.jpg", height="200", width ="200")
                            img.sequence(src="/img/test-sequence-black.jpg", width="2135", height="200")
                    .student-details
                        h3.student-name #{entry.student.name}
                        p.project-title #{entry.project.title}
