.site-footer {
    padding: 60px 0;
    border-top: 1px solid $grey-light;

    .footer-inner {
        @extend %container;
        text-align: center;

        .course-details {
            //float: right;
            margin: -5px 0 0 0;
        }

    }

}
