.site-footer {
    border-top: 1px solid $grey-light;
}

.footer-inner {
    @extend %clearfix;
    @extend %container;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.copyright {
    float: left;
}

.course-details {
    float: right;
}
