.site-header {
    margin: 0 auto;
    padding: 50px 0 0;
    background: $white;

    .header-inner {
        @extend %container;
    }

    .banner {
        margin: 0;
        padding: 0 0 50px;
        font-family: $orator;
        font-weight: 400;
        @include font-size(32);
        @include font-size(24);
        @include line-height(24);
        text-transform: uppercase;

        a {
            color: $black;
            border: none;
            &:hover {
                border: none;
                .dat {
                    background-color: $gold;
                }
            }
        }
    }

    .nav {
        margin: -5px 0 0 0;
        float: right;
        @include font-size(16);
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        a {
            margin: 0 8px 0 8px;
            color: $black;
            @include font-size(14);
            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .dat {
        margin: 0 15px 0 0;
        padding: 10px 20px 12px;
        color: $white;
        background: $black;
    }

    .description {
        margin: 0 0 0 260px;
        padding: 0;
        width: 520px;
        @include font-size(16);
        font-weight: 400;
    }
}

.page-project {
    .description {
        display: none;
    }
}
