.site-header {
    margin: 0 auto;
    padding: 50px 0 0;
    background: $white;

    .header-inner {
        @extend %container;

        .banner-container {
            @extend %cf;
        }
    }

    .banner {
        margin: 0;
        padding: 0 0 50px;
        font-family: $orator;
        font-weight: 400;
        @include font-size(32);
        @include font-size(24);
        @include line-height(24);
        text-transform: uppercase;

        // Single-column
        @include breakpoint(small) {
            float: none;
            display: block;
            text-align: center;
        }

        // Two-column
        @include breakpoint(medium) {
            float: none;
            display: block;
            text-align: center;
        }

        // Three-column
        @include breakpoint(large) {
            float: left;
        }

        // Four-column
        @include breakpoint(largest) {
            float: left;
        }

        a {
            color: $black;
            border: none;

            @include breakpoint(small) {
                @include font-size(14);
            }

            &:hover {
                border: none;
                .dat {
                    background-color: $gold;
                }
            }
        }
    }

    .nav {
        display: inline-block;
        margin: -5px 0 0 0;
        float: right;
        @include font-size(16);

        @include breakpoint(small) {
            float: none;
            display: block;
            text-align: center;
        }

        @include breakpoint(medium) {
            float: none;
            display: block;
            text-align: center;
        }

        @include breakpoint(large) {
            float: right;
        }

        @include breakpoint(largest) {
            float: right;
        }


        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        a {
            margin: 0 8px 0 8px;
            color: $black;
            @include font-size(14);
            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .dat {
        margin: 0 15px 0 0;
        padding: 10px 20px 12px;
        color: $white;
        background: $black;
    }

    .description {
        margin: 30px auto 0 auto;
        padding: 0;
        width: 75%;
        text-align: center;
        @include font-size(20);
        font-weight: 400;

        // Three-column
        @include breakpoint(large) {
            width: 90%;
        }

        // Two-column
        @include breakpoint(medium) {
            width: 90%;
            @include font-size(16);
        }

        // Single-column
        @include breakpoint(small) {
            width: 90%;
            @include font-size(12);
        }
    }
}

.page-project {


    .description {
        display: none;
    }
}
