// Projects gallery

.projects {
    @extend %container;
    margin: 60px auto 0 auto
}

// Single project

.project {
    display: inline-block;
    width: 300px;
    margin: 0 20px 20px 0;
    //background: $background;
    &:nth-child(4n) {
        margin: 0;
    }

    // 3-column
    @include breakpoint(large) {
        &:nth-child(3n) { margin: 0; }
    }

    // 2-column
    @include breakpoint(medium) {
        &:nth-child(even) { margin: 0; }
    }

    // 1-column
    @include breakpoint(small) {
        margin: 0 0 20px 0;
    }

    .project-image {
        position: relative;
        width: 290px;
        height: 290px;
        overflow: hidden;
        background: $white;
        border: 5px solid $gold;

        img {
            width: 100%;
        }

        .sequence {
            position: absolute;
            left: 290px;
            top: 0;
            width: 2900px;
            height: 290px;
        }

    }

    .project-details {
        position: relative;
        z-index: 100;
        padding: 35px 25px;
        text-align: center;
        background: $white;

        .project-title {
            @include font-size(20);
            display: inline-block;
            padding: 0 0 10px 0;
            border-bottom: 1px solid $black;
            text-transform: uppercase;
            font-family: $orator;
            font-weight: 400;
            margin: 0;
        }

        .student {
            @include font-size(10);
            text-transform: uppercase;
            letter-spacing: 5px;
            font-family: $tisa;
            font-weight: 400;
            //line-height: 0.7em;
            color: $gold;
            margin: 10px 0 0 0;
        }

    }


}
