.project-header {
    text-align: center;
    margin: 0 0 30px 0;

    .description {
        display: none;
    }
}

.featured-image {
    overflow: hidden;
    width: 100%;
    background-position: center center;
    //background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // Single-column
    @include breakpoint(small) {
        height: 180px;
    }

    @include breakpoint(medium) {
        height: 290px;
    }

    @include breakpoint(large) {
        height: 360px
    }

    @include breakpoint(largest) {
        height: 480px;
    }
}

@include featured-images();

$single-project-width: 90%;
$single-project-max-width: 700px;

.single-project {
    @extend %container;

    .project-details {
        text-align: center;
        margin: 0 auto 60px auto;

        .project-title {
            @include font-size(28);
            display: inline-block;
            padding: 0 0 10px 0;
            border-bottom: 1px solid $black;
            text-transform: uppercase;
            font-family: $orator;
            font-weight: 400;
            margin: 0.5em 0 0.9em 0;
            color: $black;
        }

        .student-name {
            @include font-size(12);
            text-transform: uppercase;
            letter-spacing: 5px;
            font-family: $tisa;
            font-weight: 400;
            line-height: 0.7em;
            color: $gold;
            margin: 0 0 30px 0;
        }

    }

    .project-description {
        width: $single-project-width;
        max-width: $single-project-max-width;
        margin: 0 auto 60px;

        p {
            @include font-size(18);
            font-family: $tisa;
            font-weight: 400;
            line-height: 1.6em;
        }

        @include breakpoint(small) {
            width: 100%;
        }

    }

    .project-link {
        @include font-size(18);
        font-style: italic;
    }

    // .trailer {
    //     margin: 60px 0 60px 0;
    // }

    // Fitvid
    .fluid-width-video-wrapper {
        margin: 60px 0;
    }

    .tags {
        @include font-size(18);
        width: $single-project-width;
        max-width: $single-project-max-width;
        margin: 0 auto 60px;
        font-style: italic;

        // Single-column
        @include breakpoint(small) {
            display: none;
        }

        .tag {
            @include font-size(18);
            font-family: $tisa;
            color: $gold;
            font-style: italic;
            // text-transform: lowercase;
            // letter-spacing: 1px;
            // display: inline-block;
            // background: $gold;
            // color: $white;
            // padding: 2px 10px 5px 10px;
            // margin: 0 15px 5px 0;
        }
    }
}

.about-student {
    text-align: center;
    border-top: 1px solid $grey-light;

    .about-student-inner {
        @extend %clearfix;
        width: $single-project-width;
        max-width: $single-project-max-width;
        clear: both;
        margin: 0 auto;
        padding: 60px 0;

        .student-image {
            width: 150px;
            margin: 0 auto 30px auto;

            img {
                padding: 8px;
                border-radius: 75px;
                border: 1px solid $gold;
            }
        }

        .student-details {
            font-family: "ff-tisa-web-pro";

            .whois {

                .student-name {
                    margin: 0 0 10px 0;
                    @include font-size(18);
                    text-transform: uppercase;
                    line-height: 12px;
                    font-weight: 400;
                    letter-spacing: 2px;
                }

                .course {
                    margin: 0;
                    font-style: italic;
                    color: $gold;
                }

            }

            .bio {

            }

            .links {
                list-style-type: none;
                margin: 30px 0 0 0;
                padding: 0;

                li {
                    display: inline-block;
                    margin: 0 20px 0 0;
                }
            }
        }
    }
}

@include breakpoint(small) {

    .about-student {

        .about-student-inner {

            .student-image {
                float: none;
                display: block;
                margin: 0 auto 30px auto;

                img {
                    border-radius: 50%;
                }
            }

            .student-details {
                float: none;
                width: 100%;
                text-align: center;

                .links li {
                    display: block;
                    margin: 0 auto 15px auto;
                }
            }
        }
    }
}




