// Projects gallery

.projects {
    margin: 60px auto 0;
    border-top: 1px solid $grey-light;

    .projects-inner {
        @extend %container;
        padding: 60px 0 0 0;
    }

}

// Single project

.project {
    display: inline-block;
    width: 230px;
    margin: 0 30px 30px 0;
    //background: $background;
    &:nth-child(4n) {
        margin-right: 0;
    }

    // 3-column
    @include breakpoint(large) {
        &:nth-child(4n) { margin: 0; }
    }

    // 2-column
    @include breakpoint(medium) {
        &:nth-child(even) { margin: 0; }
    }

    // 1-column
    @include breakpoint(small) {
        margin: 0 0 20px 0;
    }

    .project-image {
        position: relative;
        padding: 14px;
        width: 230px;
        height: 230px;
        overflow: hidden;
        background: $white;
        border: 1px solid $gold;

        img {
            -webkit-filter: grayscale(75%);
        }

        &:hover {
            border-color: $gold;
        }

        .sequence {
            position: absolute;
            left: 230px;
            top: 14px;
        }

    }

    .project-details {
        position: relative;
        z-index: 100;
        padding: 35px 15px;
        text-align: center;
        background: $white;

        .project-title {
            @include font-size(18);
            display: inline-block;
            padding: 0 0 10px 0;
            color: $grey-dark;
            border-bottom: 1px solid $grey-dark;
            text-transform: uppercase;
            font-family: $orator;
            font-weight: 400;
            margin: 0;
        }

        .student {
            @include font-size(10);
            text-transform: uppercase;
            letter-spacing: 5px;
            font-family: $tisa;
            font-weight: 400;
            //line-height: 0.7em;
            color: $gold;
            margin: 10px 0 0 0;
        }

    }


}
