$white: rgba(255, 255, 255, 1.0);
$black: rgba(0, 0, 0, 1.0);

$primary: rgba(0, 180, 255, 1.0);
$secondary: rgba(255, 144, 0, 1.0);

// …

$background: rgba(242, 228, 27, 1.0);
$gold: rgba(212, 175, 55, 1.0);

$green: rgba(67, 255, 150, 1.0);

$dark: rgba(112, 127, 119, 1.0);
$light: rgba(180, 204, 191, 1.0);
