@mixin font-size($value) {
  font-size: $value + px;
  font-size: ($value / 10) + rem;
}

@mixin line-height($value) {
  line-height: $value + px;
  line-height: ($value / 10) + rem;
}

@mixin at2x($image_name, $w: auto, $h: auto, $extension: ".png") {
  background-image: url($image_name + $extension);
  $x2img: $image_name + "@2x" + $extension;

  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    background-image: url($x2img);
    background-size: $w $h;
  }
}

@mixin font-family-sans-serif ($primary-font) {
    font-family: $primary-font, helvetica, arial, verdana, sans-serif;
}

// Media Queries

@mixin breakpoint($point) {
  @if $point == large {
    @media (max-width: 1289px) and (min-width: 970px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 969px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 629px) { @content; }
  }
}
