@import "normalize";
@import "helpers";
@import "mixins";
@import "color";

$color: #222;
$gray: #e5e5e5;
$dark-gray: #a5a5a5;
$highlight: rgb(0, 193, 156);
$font-size: 14;
$font-family: helvetica, arial, verdana, sans-serif;
$text-highlight-color: #b3d4fc;
$site-width: 1280px;

%container {
    max-width: $site-width;
    margin: 0 auto;
    padding: 0 30px;
}

html {
    font-size: 62.5%;
}

body,
button,
input,
select,
textarea {
    color: $color;
    font-family: $font-family;
}

body {
    @include font-size($font-size);
}

::-moz-selection {
    background: $text-highlight-color;
    text-shadow: none;
}

::selection {
    background: $text-highlight-color;
    text-shadow: none;
}

/* Author: Saul Hardman (@saulhardman) */

* {
    box-sizing: border-box;
}

html {
    background: $background;
}

body {
    position: relative;
    margin: 0 auto;
    padding: 50px 0 40px;
}

.outer-sequence {
    position: relative;
    width: 290px;
    height: 290px;
    overflow: hidden;
}

.sequence {
    position: absolute;
    left: 290px;
    top: 0;
    width: 290px;
    height: 290px;
    @include at2x("../img/test-sequence", 2900px, 290px, ".jpg");
    background-repeat: no-repeat;
    &.active {
        left: 0;
    }
}

/* # Header
================================================== */

@import "includes/header";

/* # Main Content
================================================== */

.main {
    @extend %container;
}

/* # Projects
================================================== */

@import "includes/projects";

/* # Footer
================================================== */

@import "includes/footer";

/* # Media Queries
================================================== */

@import "media-queries";
