@import "normalize";
@import "helpers";
@import "mixins";
@import "color";
@import "fonts";

$color: #222;
$gray: #e5e5e5;
$dark-gray: #a5a5a5;
$highlight: rgb(0, 193, 156);
$font-size: 14;
$text-highlight-color: #b3d4fc;
$site-width: 1040px;

%container {
    width: $site-width;
    margin: 0 auto;
    padding: 0 15px;

    // 3-column
    @include breakpoint(large)  { background: green;    width: 970px; }

    // 2-column
    @include breakpoint(medium) { background: red;      width: 650px; }

    // 1-column
    @include breakpoint(small)  { background: blue;     width: 330px; }
}

html {
    font-size: 62.5%;
}

body,
button,
input,
select,
textarea {
    color: $color;
    font-family: $tisa;
}

body {
    @include font-size($font-size);
}

::-moz-selection {
    background: $text-highlight-color;
    text-shadow: none;
}

::selection {
    background: $text-highlight-color;
    text-shadow: none;
}

%cf:before,
%cf:after {
    content: " ";
    display: table;
}

%cf:after { clear: both; }
%cf { *zoom: 1; }

/* Author: Saul Hardman (@saulhardman) */

* {
    box-sizing: border-box;
}

html {
    background: $white;
}

body {
    position: relative;
    margin: 0 auto;
}

a {
    // padding: 0 0 2px;
    color: $black;
    @include line-height(20);
    text-decoration: none;
    border-bottom: 1px dotted $black;
    &:hover {
        border-bottom-style: solid;
    }
    &:visited {
        color: $black;
    }
}


/* # Header
================================================== */

@import "includes/header";

/* # Main Content
================================================== */

.main {
}

/* # Projects Gallery
================================================== */

@import "includes/projects";

/* # Single Project View
================================================== */

@import "includes/project";

/* # Event View
================================================== */

@import "includes/event";

/* # Students Gallery
================================================== */

@import "includes/students";

/* # Global Footer
================================================== */

@import "includes/footer";

/* # Media Queries
================================================== */

@import "media-queries";
